@model WebAppEs.ViewModel.SalesChannel.MobileRND_SalesChannel_VM
@{
    ViewData["Title"] = "Create Sales Channel";
}

<div class="x_panel shadow p-3 mb-5 bg-white rounded">
    <div class="container">
        <div style="border-bottom: 2px solid #E6E9ED; margin-bottom: 0px; padding: 0px 0px 0px!important; " class="x_title">
            <h2 style="color:black">Sales Channel Entry</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div style="margin-top:0px" class="x_content">
            <br />
            <form asp-action="CreateSalesChannel">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label style="" class="control-label">Channel Name</label>
                            <input required asp-for="ChannelName" class="form-control" />
                            <span asp-validation-for="ChannelName" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @if (@Model.IsUpdate == "Update")
                    {
                        <input type="submit" value="Update" class="btn btn-primary" />
                    }
                    else
                    {
                        <input type="submit" value="Create" class="btn btn-primary" />
                    }
                </div>
            </form>
            <div>
                <a class="btn btn-dark" asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>
</div>