@{
    ViewData["Title"] = "Home Page";
}
<div class="x_panel shadow p-3 mb-5 bg-white rounded">
    <div class="container">
        <div class="x_title">
            <h2>Dashboard</h2>
            
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card-box table-responsive">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>